@{
    ViewBag.Title = "Edit";
}

<div class="edit-test-page" style="margin-top: 10px">
    <div style="width: 240px; float: left">
        <form method="post" id="js-input">
            <input type="file" class="js-file" style="display:none" accept=".js" />
            <center><a href="" class="add-js-file edit-icon" title="Добавить JS файл"></a></center>
        </form>
        <input type="text" class="js-filename" name="jsFile" readonly />
        <br />
        <br />
        <form method="post" id="css-input">
            <input type="file" class="css-file" style="display:none" accept=".css" />
            <center><a href="" class="add-css-file edit-icon" title="Добавить CSS файл"></a></center>
        </form>
        <input type="text" class="css-filename" name="cssFile" readonly />
    </div>
    <div class="edit-test-arrow edit-icon"></div>
    <div style="float: left; width: 200px; margin: 110px 0 0 20px">
        <input type="text" id="testType" placeholder="Тип теста" />
        <input id="add-type" type="submit" value="Добавить тип" />
    </div>
    <div style="float: left; width: 100px; margin: 0 10px 0 150px">
        <label>Список типов</label>
        <select id="type-select" size="10">
            <option>Hello</option>
        </select>
    </div>
</div>

<div style="clear: left; padding-top: 20px">
    <hr />
    <br />
    <div style="width: 240px; float: left">
        <form method="post" id="json-input">
            <input type="file" class="json-file" style="display:none" accept=".json" />
            <center><a href="" class="add-json-file edit-icon" title="Добавить JS файл"></a></center>
        </form>
        <input type="text" name="jsFile" readonly />
    </div>
    <div style="float:left; width:150px; margin: 0 0 0 50px">
        <label>Список файлов:</label>
        <select id="file-list" size="10">
            <option>Файл1</option>
        </select>
    </div>
    <div style="float: left; width:100px; margin: 0 0 0 50px">
        <label>Список групп: </label>
        <select size="10">
            <option>FPMI</option>
            <option>BSUIR</option>
        </select>
    </div>
    <a href="" class="edit-test-arrow edit-icon"></a>
    <div style="float: left; width: 150px; margin: 0 0 0 30px">
        <label>Доступен группам: </label>
        <select size="10">
            <option>FPMI</option>
            <option>BSUIR</option>
        </select>
    </div>
    <div style="clear: left">
        <input id="test-name" style="float:right;" type="text" placeholder="Имя теста" />
    </div>
</div>

<div style="clear: right">
    <input id="test-create" style="width:100px;float:right;" type="submit" value="OK" />
</div>

@Scripts.Render("~/bundles/TestEdit")