@{
    ViewBag.Title = "Edit";
}

<div style="margin-top: 10px">
    <div style="width: 240px; float: left">
        <center><a href="" class="add-js-file edit-icon" title="Добавить JS файл"></a></center>
        <input type="text" name="jsFile" readonly />
        <br />
        <br />
        <center><a href="" class="add-css-file edit-icon" title="Добавить CSS файл"></a></center>
        <input type="text" name="cssFile" readonly />
    </div>
    <div class="edit-test-arrow edit-icon"></div>
    <div style="float: left; width: 200px; margin: 110px 0 0 20px">
        <input type="text" name="testType" placeholder="Тип теста" />
        <input type="submit" value="Добавить тип" />
    </div>
    <div style="float: left; width: 100px; margin: 0 10px 0 150px">
        <label>Список типов</label>
        <select size="10">
            <option>Hello</option>
            <option>fdkjdfgfhgfhgfhgfhhf</option>
        </select>
    </div>
</div>

<div style="clear: left; padding-top: 20px">
    <hr />
    <br />
    <div style="width: 240px; float: left">
        <center><a href="" class="add-json-file edit-icon" title="Добавить JS файл"></a></center>
        <input type="text" name="jsFile" readonly />
    </div>
    <div style="float:left; width:150px; margin: 0 0 0 50px">
        <label>Список файлов:</label>
        <select size="10">
            <option>Файл1</option>
        </select>
    </div>
    <div style="float: left; width:100px; margin: 0 0 0 50px">
        <label>Список групп: </label>
        <select size="10">
            <option>FPMI</option>
            <option>BSUIR</option>
        </select>
    </div>
    <a href="" class="edit-test-arrow edit-icon"></a>
    <div style="float: left; width: 150px; margin: 0 0 0 30px">
        <label>Доступен группам: </label>
        <select size="10">
            <option>FPMI</option>
            <option>BSUIR</option>
        </select>
    </div>
</div>

<div style="clear: left">
    <input style="width:100px;float:right;" type="submit" value="OK" />
</div>