@model MvcAutomation.Models.StartTestModel

@{
    ViewBag.Title = "StartTest";
}

<div id="testArea">
    <input type="hidden" value="@Model.TestId" />
    <label>@Model.TestName</label>
    <div id="targetArea"></div>
</div>

<script src="@Model.TypeName"></script>