@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="homePageMenu">
    <div class="menuArea">
        <a href="" class="resultsPage">Last results</a>
        <br />
        <a href="" class="testsPage">Tests</a>
        <br />
        <a href="" class="materialsPage">Materials</a>
        <br />
        <a href="/Home/ChangePassword" class="changePasswordPage">Change password</a>
    </div>
    <div class="displayArea">
        Welcome!
    </div>
</div>

@Scripts.Render("~/bundles/commonScripts")
@Scripts.Render("~/bundles/homeScripts")