@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="homePageMenu">
    <div class="menuArea">
        <a href="javascript:void()" class="lastResultsPage">Last results</a>
        <br />
        <a href="javascript:void()" class="addTestPage">Add test</a>
        <br />
        <a href="" class="addMaterialPage">Add material</a>
        <br />
        <a href="" class="addStudentsPage">Add students</a>
        <br />
        <a href="" class="roleControlePage">Control roles</a>
        <br />
        <a href="/Home/ChangePassword" class="changePasswordPage">Change password</a>
    </div>
    <div class="displayArea">

    </div>
</div>

@Scripts.Render("~/bundles/homeScripts")