@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="homePageMenu">
    <div id="menuArea">
        <a href="javascript:void()" class="resultsPage">Last results</a>
        <a href="javascript:void()" class="testsPage">Tests</a>
        <a href="javascript:void()" class="materialsPage">Materials</a>
        <a href="/Home/ChangePassword" class="changePasswordPage">Change password</a>
    </div>
    <div id="dispayArea">

    </div>
</div>