@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="homePageMenu">
    <div id="menuArea">
        <a href="javascript:void()" class="lastResultsPage">Last results</a>
        <a href="javascript:void()" class="addTestPage">Add test</a>
        <a href="javascript:void()" class="addMaterialPage">Add material</a>
        <a href="javascript:void()" class="addStudentsPage">Add students</a>
        <a href="javascript:void()" class="roleControlePage">Control roles</a>
        <a href="/Home/ChangePassword" class="changePasswordPage">Change password</a>
    </div>
    <div id="dispayArea">

    </div>
</div>