@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="homePageMenu">
    <div class="menuArea">
        <a href="" class="lastResultsPage home-icon" title="Последние результаты"></a>
        <a href="" class="addTestPage home-icon" title="Добавить тест"></a>
        <a href="" class="addMaterialPage home-icon" title="Добавить материал"></a>
        <a href="" class="addStudentsPage home-icon" title="Добавить студентов"></a>
        <a href="" class="roleControlePage home-icon" title="Управление ролями"></a>
        <a href="/Home/ChangePassword" class="changePasswordPage home-icon" title="Изменить пароль"></a>
        @if (User.IsInRole("Admin"))
        {
            <a href="/Home/HomePage" title="Домашняя" class="reversePage home-icon"></a>
        }
    </div>
    <div class="displayArea">

    </div>
</div>

@Scripts.Render("~/bundles/commonScripts")
@Scripts.Render("~/bundles/homeScripts")